.header {
  background-color:rgb(27, 27, 27);
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-left {
    display: flex;
    gap: 20px;

    .nav-item {
      cursor: pointer;
      font-weight: bold;
      color: #fff;
      transition: color 0.2s ease;

      &:hover {
        color: #ffd700;
      }
    }
  }

  .auth-buttons {
    display: flex;
    gap: 10px;

    .btn {
      background-color: #ffd700;
      border: none;
      padding: 6px 12px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 4px;
      color: #000;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f2c200;
      }
    }
  }
}
