
.header {
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 10;
  color: #fff;

  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    
  }

  .auth-buttons {
    display: flex;
    gap: 1rem;

    .btn {
      background-color: #f5e35b;
      color: #000;
      border: none;
      padding: 0.5rem 1rem;
      font-weight: 600;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #e6d21f;
      }
    }
  }
}
